nginx*/
node*/
php*/
cmake*/
python*/
RunHiddenConsole*/
Redis*/
composer.phar
packages
cache
*.zip
src/conf/migrations.txt
src/conf/init_models.txt
logs/
.ssh/
.gitconfig
.*
!.gitignore
!.gitattributes
prepare_qnn.*